In [14]:
#i
from sklearn.datasets import load_boston
boston = load_boston()
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [15]:
#ii
import pandas as pd
ds = pd.DataFrame(boston.data,columns=boston.feature_names)

In [16]:
#iii
ds['MEDV'] = boston.target

In [17]:
#iv
pd.DataFrame(ds.corr().round(3))

          CRIM     ZN  INDUS   CHAS    NOX  ...    TAX  PTRATIO      B  LSTAT   MEDV
CRIM     1.000 -0.200  0.407 -0.056  0.421  ...  0.583    0.290 -0.385  0.456 -0.388
ZN      -0.200  1.000 -0.534 -0.043 -0.517  ... -0.315   -0.392  0.176 -0.413  0.360
INDUS    0.407 -0.534  1.000  0.063  0.764  ...  0.721    0.383 -0.357  0.604 -0.484
CHAS    -0.056 -0.043  0.063  1.000  0.091  ... -0.036   -0.122  0.049 -0.054  0.175
NOX      0.421 -0.517  0.764  0.091  1.000  ...  0.668    0.189 -0.380  0.591 -0.427
RM      -0.219  0.312 -0.392  0.091 -0.302  ... -0.292   -0.356  0.128 -0.614  0.695
AGE      0.353 -0.570  0.645  0.087  0.731  ...  0.506    0.262 -0.274  0.602 -0.377
DIS     -0.380  0.664 -0.708 -0.099 -0.769  ... -0.534   -0.232  0.292 -0.497  0.250
RAD      0.626 -0.312  0.595 -0.007  0.611  ...  0.910    0.465 -0.444  0.489 -0.382
TAX      0.583 -0.315  0.721 -0.036  0.668  ...  1.000    0.461 -0.442  0.544 -0.469
PTRATIO  0.290 -0.392  0.383 -0.122  0.189  ...  0.461    1.000 -0.177  0.374 -0.508
B       -0.385  0.176 -0.357  0.049 -0.380  ... -0.442   -0.177  1.000 -0.366  0.333
LSTAT    0.456 -0.413  0.604 -0.054  0.591  ...  0.544    0.374 -0.366  1.000 -0.738
MEDV    -0.388  0.360 -0.484  0.175 -0.427  ... -0.469   -0.508  0.333 -0.738  1.000

[14 rows x 14 columns]

In [18]:
#v
x=ds['RM']
y=ds['CRIM']
pd.DataFrame([x,y])

          0        1        2        3    ...      502      503      504      505
RM    6.57500  6.42100  7.18500  6.99800  ...  6.12000  6.97600  6.79400  6.03000
CRIM  0.00632  0.02731  0.02729  0.03237  ...  0.04527  0.06076  0.10959  0.04741

[2 rows x 506 columns]

In [19]:
#vi
from sklearn.model_selection import train_test_split
x=pd.DataFrame(x)
y=pd.DataFrame(y)
x_train_1,x_test_1,y_train_1,y_test_1=train_test_split(x,y,test_size=0.25)

In [20]:
#vii
from sklearn.linear_model import LinearRegression
train_model=LinearRegression()
train_model.fit(x_train_1,y_train_1)
x_pred=train_model.predict(x_test_1)
y_pred=train_model.predict(y_test_1)

In [21]:
#viii
import numpy as np
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test_1,y_pred))

23.313995167803785

In [22]:
#ix a.
from sklearn.linear_model import Ridge
ridge_reg=Ridge(alpha=10)

In [23]:
#ix b.
ridge_reg2=Ridge(alpha=25)
ridge_reg2.fit(x_train_1,y_train_1)
print(ridge_reg2.fit(x_train_1,y_train_1))
yTestPredict=ridge_reg2.predict(x_test_1)
np.sqrt(mean_squared_error(y_test_1,yTestPredict))

Ridge(alpha=25, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

5.822099501579499

In [24]:
#x a.
from sklearn.linear_model import Lasso
lasso_reg=Lasso(alpha=25)

In [25]:
#x b.
lasso_reg1=Lasso(alpha=16)
lasso_reg1.fit(x_train_1,y_train_1)
print(lasso_reg1.fit(x_train_1,y_train_1))
yTestPredict=lasso_reg1.predict(x_test_1)
np.sqrt(mean_squared_error(y_test_1,yTestPredict))

Lasso(alpha=16, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

6.172078924574577